# Created by .ignore support plugin (hsz.mobi)
.idea/
.idea/*
node_modules/
node_modules/*
entryBuild
entryBuild/*
devBuild
devBuild/*
.cache-loader/
.cache-loader/*
dist
dist/*
backup
backup/*
*/**/*.pcss.json
app/templates/node_modules/
app/templates/node_modules/*
app/templates/entryBuild
app/templates/entryBuild/*
app/templates/devBuild
app/templates/devBuild/*
app/templates/.cache-loader/
app/templates/.cache-loader/*
app/templates/dist
app/templates/dist/*
app/templates/backup
app/templates/backup/*
*.lock
