.headMenuList{

  &:hover,&.selected{
    .number{
      display: flex;
      font-size: 13px;
    }
    .name{
      display: flex;
      align-items: center;
      vertical-align: center;
      flex-direction: column;
    }
  }

  .name{

  }

  .number{

  }

  button{
    height: 200px;
  }
}